.contenedor-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  background-color: white;
  position: relative;
  box-sizing: border-box;
}

#contenedor-login {
  width: 450px;
  background: #60a5fa;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.logo {
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  position: block;
  top: 0;
  right: 0;
}

.navbar {
  background-color: #e0f2fe;
}
.container {
  margin-top: 30px;
}
.col {
  background-color: #a6ffff;
  margin: 5px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  height: 700px;
  width: 500px;
}
.contenido-col {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center; /* centra verticalmente */
  text-align: center;
  height: 100%;
}
