.contenedor-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  background-color: white;
  position: relative;
  box-sizing: border-box;
}

#contenedor-login {
  width: 450px;
  background: #60a5fa;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.logo {
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  position: block;
  top: 0;
  right: 0;
}

.navbar {
  background-color: #e0f2fe;
  height: 100px;
  align-content: center;
}
.container {
  margin-top: 30px;
}
.col-comida {
  background-color: #a6ffff;
  margin: 5px;
  padding: 0%;
  border-radius: 5px;
  width: 250px;
  height: 700px;
  max-height: 700px;
}
.contenido-col {
  align-items: center;
  text-align: left;
  height: 100%;
  font-size: 20px;
  color: gray;
  margin-top: 150px;
}

.day-card {
  width: 200px;
  height: 700px;
}
